
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    
    <context:annotation-config />
    <context:component-scan base-package="References" />  
    <bean id="files" class="Data_Access.FileManager" />
    <bean id="reader" class="Data_Access.ReferenceReader">
        <constructor-arg ref="files" />
    </bean>
    <bean id="holder" class="References.ReferenceHolder" >
        <constructor-arg ref="reader" />
    </bean>
    <bean id="authors" class="References.Authors" />
    <bean id="references" class="References.References" >
        <constructor-arg ref="files" />
        <constructor-arg ref="holder" />
        <constructor-arg ref="authors" />
    </bean>
    <bean id="keywordgen" class="User_Interface.KeywordGen" >
        <constructor-arg ref="references" />
    </bean>
    <bean id="gui" class="User_Interface.GUI" >
        <constructor-arg ref="references" />
        <constructor-arg ref="keywordgen" />
    </bean>
    
</beans>